#div1{
    text-align: center;
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 40px;
    background-color:#2ca6d4;
}

#div2{
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 20px;
    text-align: center;
}

#menu3{
    background-color: #d3d3d3 ;
}
