img{
    width: 650px;
    height: 625px;
    float: left;
}

div{
    text-align: center;
     display: flex;
     vertical-align: top;
     margin-top: 55px;
     margin-left: 180px;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px
 }


#div2{
    text-align: center;
    display: flex;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 250px; 
}

#div3{
    text-align: center;
    display: block;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2ca6d4;
    font-size: 30px;
}

#menu{
    background-color: #d3d3d3 ;
}